@*@page*@
@using System.IO
@model SecondDimensionWatcher.Pages.PlayBackModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="container-fluid">
    <h2>@Model.Name</h2>

    @if (Model.Mime.StartsWith("video"))
    {
        <p>
            <video class="video-js vjs-fluid"
                   data-setup="{}"
                   id="player"
                   controls>
                @* TODO: Add subtitle support *@
                <source src="@Model.PlayBackUrl" type="@Model.Mime"/>
            </video>
        </p>
    }
    else if (Model.Mime == "text/plain")
    {
        <pre><code lang="@(new FileInfo(Model.RealPath).Extension[1..])">@await File.ReadAllTextAsync(Model.RealPath)</code></pre>
    }
    else if (Model.Mime == "application/pdf")
    {
        <embed src="@Model.PlayBackUrl" class="img-fluid"/>
    }
    else if (Model.Mime.StartsWith("image"))
    {
        <img class="img-fluid" src="@Model.PlayBackUrl" alt="@Model.Name"/>
    }
    else
    {
        <h3>该项目无法预览。</h3>
    }
    <p>
        <a class="btn btn-primary" href="@Model.PlayBackUrl">下载</a>
    </p>
</div>

@if (Model.Mime.StartsWith("video"))
{
    <script type="text/javascript" src="/lib/videojs/video.min.js"></script>
}
else if (Model.Mime == "text/plain")
{
    <script type="text/javascript" src="/lib/highlight/highlight.pack.js"></script>
}